* {
    box-sizing: border-box;
    margin: 0;
    font-family: Inter, sans-serif;
}

/* Nav component */
nav {
    height: 55px;
    background-color: #F55A5A;
    display:flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
}

.nav--title {
    color: white;
    text-transform: lowercase;
}

/* CardList component */


/* Card component */

.card {
    margin: 15px;
    display: flex;
    gap: 20px;
}

.card--photo {
    width: 125px;
    height: 168px;
    border-radius: 5px;
}

.card--location {
    display:flex;
    gap: 20px;
    align-items: baseline;
}

.card--location-name {
    display: flex;
    gap: 6px;
    font-size: 10px;
    line-height: 12px;
    letter-spacing: 0.17em;
    text-transform: uppercase;
}

.card--location-pin {
    width: 7px;
}
